{%  extends "base.html.twig" %}

{%  block title %}Les Trésors de Pyrène{%  endblock %}

{% block slider %}
	<div class="carousel slide d-none d-sm-block d-md-block" data-ride="carousel" id="categories-slider">
		<!-- Indicateurs -->
		<ol class="carousel-indicators">
			{% for slide in sliderImages %}
				<li data-target="#categories-slider" data-slide-to="{{ slide.order }}" {% if slide.active %} class="active"{% endif %}>
			{% endfor %}
		</ol>
		
		<div class="carousel-inner">
    		{% for slide in sliderImages %}
    				<div class="carousel-item{% if slide.active %} active{% endif %}">
    					<img class="d-block w-100" src="{{ asset(slide.image) }}" alt="{{ slide.alt }}">
    					<div class="carousel-caption d-none d-md-block">
    						<h4>{{ slide.caption|raw }}</h4>
    					</div>
    				</div>
    
    		{% endfor %}
		</div>
		
		<!--  Contrôles -->
		<a class="carousel-control-prev" href="#categories-slider" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Précédent</span>
		</a>
		
		<a class="carousel-control-next" href="#categories-slider" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Suivant</span>
		</a>
	</div>
{% endblock %}

{%  block body %}
	{% block box %}
	<!--  Promotions / Meilleures Ventes / Nouveautés -->
	<div class="container-fluid" id="product-block">
		<div class="row">
    		{% if newProduct|length %}
        			<article id="nouveautes" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        				<header>
        					<h3>{{ newProduct.category.getTitleFr()|raw }}</h3>
        				</header>
        				
        				<figure class="mx-auto">
        					<a href="{{ path("product", {'slug': newProduct.product.product.getId(), 'category': newProduct.category.getId()}) }}" title="Découvrez {{ newProduct.category.getTitleFr() }}">
        						<img src="{{ newProduct.product.image.src }}" alt="{{ newProduct.product.image.alt }}" class="mx-auto d-block w-50 img-responsive">
        					</a>
        				</figure>
        				
        				<footer class="text-center">
        					<a href="{{ path("product", {'slug': newProduct.product.product.getId(), 'category': newProduct.category.getId()}) }}" class="" title="En savoir plus sur {{ newProduct.product.product.getTitleFr() }}">
        					    en savoir plus
        					</a>
        				</footer>			
        			</article>
    		{% endif %}
    		
    		{% if bestSale|length %}
    			<article id="best-selling" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
    				<header>
    					<h3>{{ bestSale.category.getTitleFr()|raw }}</h3>
    				</header>
    				
    				<figure class="mx-auto">
    					<a href="{{ path("product", {'slug': bestSale.product.product.getId(), 'category': bestSale.category.getId()}) }}" title="Découvrez {{ bestSale.category.getTitleFr() }}">
    						<img src="{{ bestSale.product.image.src }}" alt="{{ bestSale.product.image.alt }}" class="mx-auto d-block w-50 img-responsive">
    					</a>
    				</figure>
    				
    				<footer class="text-center">
    					<a href="{{ path("product", {'slug': bestSale.product.product.getId(), 'category': bestSale.category.getId()}) }}" class="" title="En savoir plus sur {{ bestSale.product.product.getTitleFr() }}">
    					    en savoir plus
    					</a>
    				</footer>			
    			</article>
    		{% endif %}
    		
    		{% if promotions|length %}
        			<article id="promotions" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        				<header>
        					<h3>{{ promotions.category.getTitleFr()|raw }}</h3>
        				</header>
        				
        				<figure class="mx-auto">
        					<a href="{{ path("product", {'slug': promotions.product.getId(), 'category': promotions.category.getId()}) }}" title="Découvrez {{ promotions.category.getTitleFr() }}">
        						<img src="{{ promotions.product.image }}" alt="{{ promotions.product.alt }}" class="mx-auto d-block w-50 img-responsive">
        					</a>
        				</figure>
        				
        				<footer class="text-center">
        					<a href="{{ path("product", {'slug': promotions.product.getId(), 'category': promotions.category.getId()}) }}" class="" title="En savoir plus sur {{ promotions.product.getTitleFr() }}">
        					    en savoir plus
        					</a>
        				</footer>			
        			</article>
        	{% endif %}
        </div>
	</div>
	{% endblock %}	

	
	{% block info %}
		<section id="informations" class="row">
			{% if tips|length %}
				{% for tip in tips %}
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
						<article class="tip" id="{{ tip.slug }}">
							<img src="/images/{{ tip.getLogo() }}" class="img-responsive">
							<p class="content">
								{{ tip.getTitleFr()|raw }}
							</p>
						</article>
					</div>
				{% endfor %}
			{% endif %}
		</section>
	{% endblock %}
	
	{% if editorial is not null %}
    	{% block edito %}
    		<div class="container-fluid" id="editorial-block">
    			<div class="row">
        			<article class="col with-padding" id="editorial">
        				<div class="flower left"></div>
        				<blockquote>
        					{{ editorial.getContentFr()|raw }}
        				</blockquote>
        				<div class="flower right"></div>
        			</article>
        		</div>
    		</div>
    	{% endblock %}
    {% endif %}
{%  endblock %}

{% block footer %}

{% endblock %}

